body {
  background: url(
http://longwallpapers.com/Desktop-Wallpaper/nature-wallpapers-1080p-For-Desktop-Wallpaper.jpg    );
  background-position: top-bottom;
  background-size: 100%;
  color: lavender;
  background-attachment: fixed;
}

a {
      color: mediumturquoise;
      text-decoration: none;
    }
a:hover {
    color: hotpink;
}

.wrapper {
  margin: 20px auto;
  max-width: 1000px auto;
  padding: 20px;
  
}


header {
  padding: 5px 0 0;
  border-bottom: solid lightskyblue;
  border: ;
  text-align: left;

  
}

footer {
  border-top: solid lightskyblue;
  clear: both;
}

.page {
  float: right;
  width: 82%;
  border-left: solid lightskyblue;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
}

aside {
  float: ;
  width: 13%;
  margin-top: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}
